groups {
    re0 {
        system {
            host-name {{re0.hostname}};
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address {{re0.fxp0}};
                    }
                }
            }
        }
    }
    re1 {
        system {
            host-name {{re1.hostname}};
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address {{re1.fxp0}};
                    }
                }
            }
        }
    }
}
apply-groups [ re0 re1 ];
