{# hurray #}
#jinja2: trim_blocks:True

interfaces {
{% for name, intf in topo.reth.items() %}
  {% for linkname in intf.links %}
   {{linkname}} {
     gigether-options {
         redundant-parent reth{{intf.key}};
     }
 }
  {% endfor %}

reth{{intf.key}} {

  vlan-tagging;
    
 redundant-ether-options {
{% if intf.links| count > 2 %}
    lacp {
        active;
    }
{% endif %}
        redundancy-group {{intf.rd_group}};
    }

   {% for uname, unit in intf.units.items() %}
  unit {{unit.u_id}} {
        vlan-id {{unit.u_id}};
        family inet {
            address {{unit.u_ip}};
        }
    }
    {% endfor %}                                   
}
{% endfor %}


   fab0 { 
       fabric-options {
           member-interfaces {       {% for members in fab0 %} 
               {{members+";"}}       {% endfor %}
        } 
      } 
    } 
  fab1 { 
      fabric-options {
          member-interfaces {        {% for members in fab1 %} 
              {{members+";"}}        {% endfor %}
           } 
        } 
    } 

}


security {

address-book {

     {% if addressbook.global is defined %}
    global {

     {% for name, address in addressbook.global.items() %}
         address {{name}} {{address}};
     {% endfor %}
    }  
    
    {% endif %}
}

zones {
{% for name, zone in zones.sec_zones.items() %}
security-zone {{zone.name}} {
    interfaces {
      {% for name, intf in zone.interfaces.items() %}
        {{name}} {
              host-inbound-traffic { 
                   system-services { 
                   {% for sysserv in intf.system_services %}
         {{sysserv+";"}} 
                   {% endfor %}

                    }
                    protocols { {% for proto in intf.protocols %} 
                          {{proto+";"}} {% endfor %}

                    }           
                }
            }
      {% endfor %}

        }    
     }
 {% endfor %}
}

policies {
    
 {% if global is defined %}
    global {
 {% for name, policy in global.items() %}                          
        policy {{policy.name }} {
            match {
                source-address {{policy.src}};
                destination-address {{policy.dest}};
                application {{ policy.app}};
                from-zone {{policy.srcz}}
                to-zone {{policy.destz}}
            }
            then {
                {{policy.action }};
            }
         }
 {% endfor %}
     }
 {% endif %}

 {% if policies is defined %}
   {% for name, policy in policies.items() %}
    from-zone {{policy.srcz}} to-zone {{policy.destz}} {
    {% for name, tup in policy.flow.items() %}
     policy {{ tup.name}} {
            match { 
            source-address {{tup.src}};
            destination-address {{tup.dest}};
            application {{tup.app}};
         }
        then {
          {{ tup.action }}
         }
       }
      {% endfor %}
    }
   {% endfor %}
  {% endif %}
  }
 } 

chassis {
    cluster {
        reth-count {{ topo.nbr_reth}};
        redundancy-group 0 {
            node 0 priority 100;
            node 1 priority 90;
        }
        {% for name, rg in rd_grp.items() %}
        redundancy-group {{rg.rd_id }} {
            node 0 priority {{rg.node0}};
            node 1 priority {{rg.node1}};
        }
       {% endfor %}
    }
}

