

interfaces {

{% for name, topo in topo.uplink.items() %}

    {% for links in topo.links %}
    {{ links }} {
        ether-options {
            802.3ad ae{{topo.key}};
        }
    } 
    {% endfor %}

    ae{{topo.key}} {
      description "{{name}}";
        unit 0 {                        
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ {% for vlan in topo.v_mem%} {{vlan}} {% endfor %} ];
                }
            }
        }
    }

{% endfor %}

}

