
chassis {
    {% for node in GRES %}
     {% if node == inventory_hostname %}
    redundancy {
     graceful-switchover;
  }
     {% endif %}
    {% endfor %}

    aggregated-devices {
        ethernet {
            device-count {{topo.nbr_ae}};
        }
    }
 }

interfaces {

{% for name, topo in topo.uplink.items() %}

    {% for links in topo.links %}
    {{ links }} {
        ether-options {
            802.3ad ae{{topo.key}};
        }
    } 
    {% endfor %}

    ae{{topo.key}} {
   description "{{name}}"; 
    aggregated-ether-options {
        lacp {
            active;
        }
    }
        unit 0 {                        
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ {% for vlan in topo.v_mem%} {{vlan}} {% endfor %} ];
                }
            }
        }
    }

{% endfor %}






{% for name, vlan in vlans.iteritems()  %}
{% if vlan.ip is defined %}
  vlan {
     unit {{ vlan.id}} {
          family inet {
        address {{ vlan.ip }}/{{vlan.mask}} ;
   
     }
   }
{% endif %}
{% endfor %}
 }
}

  {% for node in NSB %}
     {% if node == inventory_hostname %}
   protocols {
    layer2-control{
     nonstop-bridging;
   }
 }
     {% endif %}
  {% endfor %}


  {% for node in NSR %}
     {% if node == inventory_hostname %}
   routing-options{

     nonstop-routing;

 }
     {% endif %}
  {% endfor %}



